<div id="idea_links_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Link to current idea</h4>
        <p class="text-muted small">from ideas you are watching</p>
      </div>
  
          <%=render partial: "link_watched_idea", collection: @watched_ideas, as: :idea, 
            spacer_template: "shared/hr_spacer"%>
  
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
        </div>
    </div>
  </div>
</div>    
