<div>
    <img src=<%=idea_team.image_url%> class="navbar-img img-thumbnail" alt="profile image" width="30",  height="30">                          
    <%=link_to idea_team.name, team_path(idea_team.id)%>
</div>
