<div class="panel panel-default">
    <%=render "idea_title"%>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h5>
            <span>
                Solutions
            </span>
            <span class="pull-right">
                <i class="fa fa-chevron-right small"></i>
                <%=link_to "see all", "#", class:"small"%>
            </span>
        </h5>
    </div>
    <div class="panel-body">
        List of solutions (detail can be view only by team member)
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h5>Milestones</h5>
    </div>
    <div class="panel-body">
        <%=render "idea_milestone"%>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h5>Contributors</h5>
    </div>
    <div class="panel-body">
        List of contributors with profile picture
    </div>
</div>
