<li>
  <%=link_to(privacy_idea_path(@idea, value:value), remote: true, method: :put) do%>
    <i class="<%=privacy_icon(value)%>"></i>
    <span id=""> <%=privacy_label(value)%></span>
  <%end%>
</li>
