<div class="panel panel-default">
    <%=render "theme_title"%>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Reward
    </div>
    <div class="panel-body">
        <%=@theme.reward%>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Policy
    </div>
    <div class="panel-body">
        <%=@theme.policy%>
    </div>
</div>