<h4>"<%=@theme_title%>" is going to be created</h4>
<hr>
<div class="alert alert-success">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  We've found some similar themes you may want to take a look
</div>

<%=render partial: "similar_theme", collection: @similar_themes, as: :similar_theme%>

<hr>
<div class="pull-right">
  <%=link_to "Create New", new_theme_path(title: @theme_title), class:"btn btn-success"%>
  <%=link_to "Cancel", :back, class:"btn btn-default"%>
</div>