<%if idea.idea_brief.tag_list.count > 0%>
  <p></p>
  <i class="fa fa-tags"></i>
  <% limit = nil if local_assigns[:limit].nil? %>
  <%idea_tags_limit(idea, limit).each do |tag|%>
    <span class="idea_tag">
      <%=tag%>
    </span>
  <%end%>
  <%="..." if !limit.nil? && limit < idea.idea_brief.tag_list.count%>
<%end%>
