<h4>
    My Top Ideas
</h4>
<%=render partial: "my_top_idea", collection: @my_ideas_top, as: :idea%>

<h4>
    My Top Themes
</h4>
<%=render partial: "top_grossing_theme", collection: @my_themes_top, as: :theme%>