<div class="panel panel-default">
    <div class="panel-body">
        <h4>
            <%=idea.idea_brief.title%>
        </h4>
        <p class="small text-muted">
            <%=idea.idea_brief.short_desc%>
        </p>
    </div>
</div>