// Place all the styles related to the Ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wall-title {
    font-size: 120%;
    font-weight: bold;
}

.wall-content {
    border-left :1px solid #ddd;
    border-right :1px solid #ddd;
    border-bottom :1px solid #ddd;
    padding: 1em;
    margin-bottom: 2em;
}

.wall-tabs {
    border-bottom: 1px solid #ddd;
    margin-bottom: -1px;
}

.idea-title-fa-liked {
    color:steelblue;
}

.idea-title-fa-notliked {
    color:gray;
}

.idea-title-fa:hover, .idea-title-fa:active, .idea-title-fa:focus {
    outline: none;
    color:lightskyblue;
    background:none;
    text-decoration:none;
}

.idea-title-fa-subtitle {
    font-size:xx-small;
    font-weight: bold;
    text-align: center;
}

.audience_tag {
    white-space:nowrap;
    border-bottom :1px dotted #ddd;
    margin-right: 0.5em;
    color: MidnightBlue;
}

.idea_tag {
    white-space:nowrap;
    position:relative;   
    margin-right: 0.5em;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;    
    color: MidnightBlue;
    background: #E8EDF0;
}

.member_name {
    font-family: Sans-serif;
    font-weight: bold;
    font-size: 110%;
}